/* Write your CSS here! */

body {
	width: 100%;
	max-width: 800px;
	margin: 8px;
	background-color: #c6c6c6;
	font-size: 62.5%;
    color: rgb(0, 0, 0);
}

header, main, footer {
	background-color: #c6c6c6;
	font-size: 1.1em;
}

header {
	padding: 0px;
    text-align: center;
}

h1 {
	font-size: 2.5em;
    text-align: center;
    padding: 0px;
    color: blue;
}

#mainHeading {
    color: red;
}

h2 {
	font-size: 1.5em;
    text-align: center;
    padding: 0px;
    color: rgb(64, 64, 64);
}

h3 {
    font-size: 1.1em;
    text-align: center;
    padding: 0px;
    color: rgb(0, 0, 0);
    
}
nav ul {
	text-align: center;
	padding: 0;
}

nav {
    text-align: center
    
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}

.funParagraph {
    color: green;
}

p {
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: small;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}

img {
	width: 60%;
	max-width: 60%;
    align-items: center;
    
    border: 1px solid rgb(0, 0, 0);
}

section {
    border-image: 1px;
}

@media screen and (max-width: 680px) {
	nav ul li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}

}